@use "@mapsight/traffic-style/mapsight-traffic-style-icon-sprite-2x" as sprite;

@use "@mapsight/traffic-style/src/scss/variables" as variables with (
	$MAPSIGHT_TRAFFIC_STYLE__IMAGE_PATH: "/img/",
	$MAPSIGHT_TRAFFIC_STYLE__SPRITE_PATH: "/img/mapsight-traffic-style-icon-sprite-2x.png?v=2023-08-07-16-00",
	$MAPSIGHT_TRAFFIC_STYLE__ICONS: sprite.$mapsight-traffic-style-icon-sprite-2x,
);

@use "@mapsight/traffic-style/src/scss/features/base";
