@use "sass:string";
@use "../variables";
@use "../mixins/icon-base";
@use "../mixins/icon";
@use "../mixins/auto-icon";
@use "../mixins/runtime-icon";

#features {
	stroke-width: 4;

	// Icon
	@include icon-base.iconBase;

	@include auto-icon.autoIconDefault();
	@include runtime-icon.runtimeIcon("default");
	@include auto-icon.autoIcon("default");

	[|js="env.zoom < #{variables.$MAPSIGHT_TRAFFIC_STYLE__FEATURES_BASE_ZOOM_SMALL}"]
	:not([state="highlight"])
	:not([state="select"]) {
		@include auto-icon.autoIconDefault("xsmall");
		@include runtime-icon.runtimeIconSrc("xsmall");
		@include auto-icon.autoIcon("xsmall");
	}

	[|js="env.zoom >= #{variables.$MAPSIGHT_TRAFFIC_STYLE__FEATURES_BASE_ZOOM_SMALL} && env.zoom < #{variables.$MAPSIGHT_TRAFFIC_STYLE__FEATURES_BASE_ZOOM_DEFAULT}"]
	:not([state="highlight"])
	:not([state="select"]) {
		@include auto-icon.autoIconDefault("small");
		@include runtime-icon.runtimeIconSrc("small");
		@include auto-icon.autoIcon("small");
	}

	[state="highlight"],
	[state="select"] {
		.selectionBackground {
			image-type: circle;

			circle: {
				radius: 26;
				fill-color: rgba(128, 255, 255, 0.4);
				stroke: none;
			}
		}
	}

	[state="select"] {
		.selectionBackground {
			circle-fill-color: rgba(87, 255, 255, 0.8);
		}
	}

	[mapsightIconId="stau"] {
		stroke-color: #f00;
	}

	[mapsightIconId="umleitung"] {
		stroke-color: #2aadea;
	}

	[isTemporaryRestriction] {
		stroke-lineDash: 5, 15;
	}

	[type="trunk"],
	[type="trunk_link"] {
		stroke-width: 4;
	}

	[type="primary"],
	[type="primary_link"] {
		stroke-width: 3;
	}

	// z-index
	zIndex: variables.$MAPSIGHT_TRAFFIC_STYLE__BASE_Z_INDEX + 2;

	[geometry|type="Polygon"],
	[geometry|type="MultiLineString"] {
		zIndex: variables.$MAPSIGHT_TRAFFIC_STYLE__BASE_Z_INDEX + 1;
	}

	[geometry|type="MultiPolygon"] {
		zIndex: variables.$MAPSIGHT_TRAFFIC_STYLE__BASE_Z_INDEX;
	}

	// states
	[state="highlight"],
	[state="select"] {
		stroke-color: #3afffe;
		cursor: pointer;
	}

	[state="highlight"] {
		zIndex: variables.$MAPSIGHT_TRAFFIC_STYLE__BASE_Z_INDEX + 5;

		// keep areas in the background
		[geometry|type="Polygon"],
		[geometry|type="MultiLineString"],
		[geometry|type="MultiPolygon"] {
			zIndex: variables.$MAPSIGHT_TRAFFIC_STYLE__BASE_Z_INDEX;
		}
	}

	[state="select"] {
		zIndex: variables.$MAPSIGHT_TRAFFIC_STYLE__BASE_Z_INDEX + 205;

		// keep areas in the background
		[geometry|type="Polygon"],
		[geometry|type="MultiLineString"],
		[geometry|type="MultiPolygon"] {
			zIndex: variables.$MAPSIGHT_TRAFFIC_STYLE__BASE_Z_INDEX;
		}
	}

	[type="parking"] {
		// TODO: Use ../mixins/feature-label
		[title] [|js="env.zoom >= 15"] {
			text: {
				font: bold 12px sans-serif;
				offsetX: 17;
				offsetY: 1;
				textAlign: left;
				fill-color: #03437e;
				stroke-color: #fff;
				stroke-width: 1;
				text: "attr(title)";
			}
		}

		[occupancyTrendString] {
			[|js="env.zoom >= 13"],
			[state="highlight"],
			[state="select"] {
				.background {
					image-type: icon;

					icon: {
						anchorX: -14px;
						anchorY: 12px;
						src: string.unquote(
							'calc(attr(--env-imagesUrl) + "parking-dynamic/" + attr(occupancyTrendString) + ".png")'
						);
					}

					[state="highlight"],
					[state="select"] {
						zIndex: variables.$MAPSIGHT_TRAFFIC_STYLE__BASE_Z_INDEX + 5;
					}
				}
			}

			[|js="env.zoom >= 15"] {
				text-offsetX: 29;
			}
		}
	}

	[type="default"] [mass_restriction],
	[type="default"] [height_restriction] {
		[|js="env.zoom >= 12"] {
			text: {
				font: bold 11px sans-serif;
				offsetX: 0;
				offsetY: 13;
				textAlign: center;
				fill-color: #03437e;
				stroke-color: #fff;
				stroke-width: 1;
			}
		}

		[|js="env.zoom >= 13"] {
			text: {
				offsetY: 19;
				font: bold 13px sans-serif;
			}
		}

		[state="highlight"],
		[state="select"] {
			text: {
				fill-color: #003163;
				stroke-width: 2;
				offsetY: 22;
			}
		}
	}

	[type="default"] [mass_restriction] [|js="env.zoom >= 12"] {
		text-text: attr(mass_restriction);
	}

	[type="default"] [height_restriction] [|js="env.zoom >= 12"] {
		text-text: "attr(height_restriction)m";
	}
}
