
.ms3-attribution {
	pointer-events: auto;
	line-height: 1;
	font-size: var(--ms3-font-size-base);

	background: var(--ms3-attributions-background-color);
	border-top-left-radius: var(--ms3-border-radius);

	max-width: calc(100% - 15px);

	a,
	button {
		color: inherit;
		text-decoration: underline;
	}

	// undo button styles:
	button {
		background: transparent;
		border: 0;
		padding: 0;
	}

	&__entries {
		display: block;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__entry {
		display: inline-block;

		&:not(:last-child)::after {
			content: ", ";
			margin-right: 4px;
		}
	}
}
