@use "../variables";

.ms3-list-header {
	display: flex;
	background: variables.$ms3-backgroundColor;
	z-index: variables.$ms3-zIndexListHeader;

	&.js-is-sticky,
	&.js-is-stuck {
		margin: 0 -5px;
		padding: 2px 5px;
		box-shadow: 0 10px 12px -12px rgba(0, 0, 0, 0.5);
	}

	@media print {
		& {
			display: none !important;
		}
	}
}
