
.ms3-list-header {
	display: flex;
	background: var(--ms3-background-color);
	z-index: var(--ms3-z-index-list-header);

	&.js-is-sticky,
	&.js-is-stuck {
		margin: 0 -5px;
		padding: 2px 5px;
		box-shadow: 0 10px 12px -12px rgba(0, 0, 0, 0.5);
	}

	@media print {
		& {
			display: none !important;
		}
	}
}
