.ms3-map-synced-interlay {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	touch-action: none;
	user-select: none;

	.ms3-map-wrapper--anchored-right & {
		right: 0;
		left: auto;
	}

	.ms3-map-wrapper--anchored-bottom & {
		bottom: 0;
		top: auto;
	}
}
