@use "breakpoint-sass/stylesheets/breakpoint";

.ms3-map-wrapper {
	position: relative;
	clear: both;
	flex-grow: 1;
	height: calc(100vh - var(--ms3-fullscreen-top));
	height: calc(100svh - var(--ms3-fullscreen-top));
	max-height: var(--ms3-map-max-height-default);
	transition: max-height 200ms ease-out;

	.ms3-wrapper--desktop & {
		min-height: var(--ms3-map-min-height-desktop);
	}

	.ms3-wrapper--mapOnly &,
	.ms3-wrapper--fullscreen & {
		height: auto;
		max-height: calc(100vh - var(--ms3-fullscreen-top));
		max-height: calc(100svh - var(--ms3-fullscreen-top));
	}

	@media print {
		.ms3--print-feature-selection-info-only & {
			display: none !important;
		}
	}
}
