
.ms3-panel {
	$b: &;

	background: var(--ms3-background-color);

	&--docked-left {
		position: absolute;
		inset: 0;
		background: var(--ms3-background-color-offset-2);
		overflow: hidden;

		#{$b}__inner {
			width: var(--ms3-vertical-panel-width);
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			overflow: auto;
		}
	}

	&--docked-below {
		width: 100%;
		max-height: var(--ms3-mobile-feature-select-info-height);
		border-bottom: 1px solid var(--ms3-border-color);
		overflow: auto;
	}
}
