@use "async-status";

.ms3-search-result {
	$b: &;

	position: relative;
	border-top: 1px solid var(--ms3-border-color);
	max-height: var(--ms3-search-result-max-height);
	overflow-x: hidden;
	overflow-y: auto;

	&__group {
		max-height: calc(var(--ms3-search-result-max-height) - 50px);
	}

	&__group-head {
		margin: 0;
		padding: 4px 10px;

		position: sticky;
		top: 0;

		background: var(--ms3-background-color-offset);
		border-bottom: 1px solid var(--ms3-border-color);
		font-size: inherit;

		#{$b}__group:not(:first-child) & {
			border-top: 1px solid var(--ms3-border-color);
		}
	}

	&__entry {
		display: block;
		width: 100%;
		border: 0;
		margin: 0;
		padding: 5px 20px 5px 10px;
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
		background: var(--ms3-background-color);

		&__subline {
			display: block;
			margin-left: 1px;
			margin-top: -2px;
			font-size: var(--ms3-font-size-smallest);
			color: var(--ms3-secondary-color);
		}

		&:hover,
		&:focus {
			background: var(--ms3-background-highlight-color);
			color: var(--ms3-theme-color-b);

			// show overflow text on hover/focus
			overflow: visible;
			text-shadow:
				1px 1px 2px var(--ms3-background-highlight-color),
				-1px -1px 2px var(--ms3-background-highlight-color);
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__list-item:not(:first-child) {
		border-top: 1px solid var(--ms3-border-color);
	}

	&__empty-message,
	&__error {
		padding: 10px;
		margin: 0;
	}

	&--inactive {
		display: none;
	}

	&__error {
		&::before {
			content: none;
		}
	}

	&__status-region {
		.ms3-async-status--error {
			padding: 10px;
			margin: 0;
		}

		.ms3-async-status--placeholder.ms3-async-status--loading {
			min-height: inherit;
			justify-content: flex-start;
			align-items: flex-start;

			&::before {
				position: absolute;
				top: 10px;
				right: 10px;
				margin: 0;
			}
		}

		.ms3-async-status-region__refresh-indicator {
			position: absolute;
			top: 10px;
			right: 10px;
			margin: 0;
		}
	}

	.ms3-search-overlay & {
		background: var(--ms3-background-color);

		&--empty,
		&--loading,
		&--found,
		&--error {
			min-height: 200px;
		}
	}
}
