$MAPSIGHT_TRAFFIC_STYLE__FEATURES_BASE_ZOOM_SMALL: 11 !default;
$MAPSIGHT_TRAFFIC_STYLE__FEATURES_BASE_ZOOM_DEFAULT: 13 !default;

$MAPSIGHT_TRAFFIC_STYLE__FILL_COLOR: rgba(255, 0, 0, 0.46) !default;
$MAPSIGHT_TRAFFIC_STYLE__STROKE_COLOR: rgba(224, 109, 208, 0.9) !default;

$MAPSIGHT_TRAFFIC_STYLE__TEXT_FONT: bold !default;
$MAPSIGHT_TRAFFIC_STYLE__TEXT_FILL_COLOR: #0c6490 !default;
$MAPSIGHT_TRAFFIC_STYLE__TEXT_STROKE_COLOR: #fff !default;
$MAPSIGHT_TRAFFIC_STYLE__TEXT_STROKE_WIDTH: 3 !default;

$MAPSIGHT_TRAFFIC_STYLE__BASE_Z_INDEX: 100 !default;
$MAPSIGHT_TRAFFIC_STYLE__IMG_BASE_SCALE: 0.5 !default;

$MAPSIGHT_TRAFFIC_STYLE__IMAGE_PATH: "img/" !default;
$MAPSIGHT_TRAFFIC_STYLE__SPRITE_PATH: $MAPSIGHT_TRAFFIC_STYLE__IMAGE_PATH + "sprite.png" !default;
$MAPSIGHT_TRAFFIC_STYLE__ICONS: (
	"ort": (
		x: 0,
		y: 0,
		width: 30,
		height: 30,
	),
) !default;

$MAPSIGHT_TRAFFIC_STYLE__STATE_DEFAULT: "default" !default;

$MAPSIGHT_TRAFFIC_STYLE__FEATURE_LABEL_OFFSET_X: 3 !default;
$MAPSIGHT_TRAFFIC_STYLE__FEATURE_LABEL_OFFSET_Y: 1 !default;
$MAPSIGHT_TRAFFIC_STYLE__FEATURE_LABEL_DEFAULT_MIN_ZOOM: 15 !default;
$MAPSIGHT_TRAFFIC_STYLE__FEATURE_LABEL_DEFAULT_PREFIX: "" !default;
$MAPSIGHT_TRAFFIC_STYLE__FEATURE_LABEL_DEFAULT_SUFFIX: "" !default;


$MAPSIGHT_TRAFFIC_STYLE__ICON_MAX_SIZE: (
	x: 26,
	y: 28,
) !default;
$MAPSIGHT_TRAFFIC_STYLE__ICON_DEFAULT: "ort" !default;
$MAPSIGHT_TRAFFIC_STYLE__ICON_FALLBACK_MAP: (
	parkflaeche: (
		"behindertenparken",
		"tiefgarage",
		"parkhaus",
		"motorradstellplatz",
		"busparkplatz",
	),
) !default;

$MAPSIGHT_TRAFFIC_STYLE__ICON_ENABLE_FORCE_BY_ENV: true !default;
