@use "../variables";

@if variables.$ms3-option-queryInputWithLabelSearchIcon {
	.ms3-query-input-with-label {
		&__input-container {
			min-height: 34px;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 33px;
				height: 33px;
				background: transparent url(variables.$ms3-uiIconPath + "search.svg") no-repeat
					center;
				transform: translateY(-50%);
				pointer-events: none;
			}
		}

		&__input {
			min-height: 34px;
			padding-left: 33px;
		}
	}
}
